<div class="login-page">
  <div class="form">
    <form class="returning-user" action="/sessions" method="post">
      <input type="email" name="email" placeholder="email">
      <input type="password" name="password" placeholder="password">
      <button>Login In</button>
    </form>
  </div>
</div>

<div class="error">
  <% if @error %>
    <p> <%= @error %></p>
  <% end %>
</div>
