
.header {
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
  background-image: url("/ep_naturalblack/ep_naturalblack.png");
}

.header a:visited {
  color: orange;
}

body {
  margin: auto;
  background-image: url("/whirlpool/whirlpool.png")

  /*background-image: url("/css/dark-triangles/dark-triangles.png");*/
}

.index {
  width: 650px;
  margin: 20px auto;
  padding: 8px;
}

.lists {
  width: 650px;
  margin: 20px auto;
  padding: 8px;
}
