
body {
  background-image: url("/whirlpool/whirlpool.png")
}

.header {
  border: dotted purple;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
  background-image: url("/ep_naturalblack/ep_naturalblack.png");
}

a:visited {
  color: orange;
}

.search-card-index {
  position: fixed;
  top: 20%;
  left: 50%;
  margin-top: -50px;
  margin-left: -180px;
  border: dotted red;
  background-image: url("/dark-triangles/dark-triangles.png");
  padding: 20px;
  color: white;
}

.input_label {
  padding-bottom: 10px
}

div.summary-page {
  border: yellow dotted;
}
