<div class="profile-page">
  <div class="user-info">
    <ul>
      <li>User: <%=@user.name %></li>
      <%@user.decks.each do |deck|%>
      <li><a href="/users/deck.user.name/decks/deck.id">deck.name</a></li>
      <% end %>
    </ul>
  </div>
</div>
