<div class="profile-page">
  <% if session[:user_id] == @user.id %>
  <div class="logout">
    <%= erb :"/sessions/_logout" %>
  </div>
  <% end %>
  <div class="user-info">
    <ul>
      <li>User: <%=@user.name %></li>
      <%@user.decks.each do |deck|%>
      <li><a href="/decks/<%=deck.id%>"> <%= deck.name %> </a></li>
      <% end %>
    </ul>
  </div>
</div>
