<div class="container">
  <% @cards.each do |card| %>
  <div class="card-li">
    <a class="card-link" href="/magic_set/<%= card.magic_set.name %>/cards/<%=card.name.gsub(" ","_")%>"><%= card.name %></a>
  </div>
  <% end %>
</div>
