<div class="container">
  <form class="card search" action="/cards/:id" method="get">
    <div class="input_label">
      <label for="deck_name">Search for a card:</label>
    </div>
    <div class="input_field">
      <input type="text" name="card_name" placeholder="Enter Card">
    </div>
    <div class="input_field">
      <input type="submit">
    </div>
  </form>
</div>
