
<div class="container">
  <form  action="/cards/dtk" method="post">
  <div>
    <label>Name:</label>
    <input type="text" name="entry[name]">
  </div>
  <div>
    <label>Description:</label>
    <input type="text" name="entry[text]">
  </div>
  <div>
    <label>Power:</label>
    <input type="text" name="entry[power]" >
    <label>Toughness:</label>
      <input type="text" name="entry[toughness]">
  </div>
    <input type="submit" value="Save">
  </form>

</div>
