<% @deck = Deck.find(params[:id]) %>
<h3><%=@deck.name%></h3>

<% @deck.entries.each do |entry| %>

  <h2><%= entry.quantity%> - <a href="/cards/<%=entry.card_name.gsub(" ", "_")%>"><%= entry.card_name%></a> </h2>
<% end %>
