<section class="summary-page">
  <h1 class="welcome-message">Welcome to Deck Box</h1>
  <p>A Magic the Gathering site where you can search cards and decklists</p>
  <p>As a user you are able to make your own decklists</p>

  <div class="cards-index">
    <a href="/magic_sets">Magic cards ordered by set</a>
    <h2>Random Card</h2>
    <%= erb :'cards/_card-details', locals: { card: @card } %>
  </div>

  <div class="decklist-index">
    <h2>Random Deck</h2>
    <a href="/decks/<%=@deck.id%>"><%= @deck.name%></a>
    <%= erb :'/decks/_list-show', layout: false, locals: { deck: @deck } %>
  </div>
</section>
