<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css?app=skills">
  <link rel="stylesheet" href="/css/application.css?app=skills">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <a href="/">Magic-app</a>
  <div class="User-controller">
    <% if session[:user_id] %>
      <a href="/decks/new">Make a new Deck</a>
      <%= erb :"/sessions/_logout" %>
    <% else %>
      <div class="Sign in">
        <a href="/users/new">Sign Up</a>
      </div>
      <div class="Login">
        <a href="/sessions/new">Login</a>
      </div>
    <% end %>
  </div>
  <%= yield %>
</body>
</html>
